* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bg {
    background-image: url("./../images/pinkProjBg.png");
    background-size: cover;
    width: 100vw;
    height: 295px;
}

#formContainer {
    position: absolute;
    top: 80px;
    right: 120px;
    width: 300px;
    background-color: #1A1A1AD4;
    color: #ffffff;
}

#formWrapper {
    margin: 35px 25px 0px;
    font-family: Heebo;
}

#formWrapper h1 {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 1.3rem;
}

#formWrapper p {
    color: #F9F9F9;
    font-size: 0.7rem;
    margin-bottom: 10px;
}

#form {
    display: flex;
    flex-direction: column;
}

.formBox {
    margin-top: 7px;
}

.formBox label {
    display: block;
    color: #FFFFFF;
    font-size: 0.5rem;
}

.formBox input {
    font-size: 1rem;
    height: 26px;
    border: 1px solid hotpink;
}

#submit {
    margin: 20px 0px 70px;
}

#submit input {
    background-color: #D31C75;
    color: white;
    width: 85px;
    height: 27px;
    border: 0;
}

@media (max-width:576px) {
    #bg {
        height: 38vh;
    }

    #formContainer {
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    #formContainer h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    #formContainer p {
        font-size: 1rem;
        margin: 10px 0px 5px;
        text-align: center;
    }

    #form {
        margin-left: 15px;
    }

    .formBox label {
        font-size: 0.9rem;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .formBox input {
        height: 28px;
    }

    #submit {
        margin: 20px 0px 15px;
    }

    #submit input {
        width: 80px;
        height: 33px;
    }
}