* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    margin: 0 auto;
}

#title {
    grid-column: 3/5;
    grid-row: 1/3;
    background-color: #020253;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#title h1 {
    font: normal normal bold 61px/80px Assistant;
    color: #0EE1DA;
}

#title p {
    font: normal normal normal 20px/26px Assistant;
    color: #F9F9F9;
}

#formWrapper {
    grid-column: 1/3;
    grid-row: 4/7;
    background-color: #8E097C;
}

#formWrapper h1 {
    text-align: center;
    margin-top: 50px;
    font: normal normal bold 35px/46px Assistant;
    color: #FFFFFF;
}

#formWrapper p {
    margin: 30px;
    text-align: center;
    font: normal normal normal 20px/26px Assistant;
    color: #F9F9F9;
}

#formWrapper form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

#formWrapper form .box {
    width: 500px;
}

#formWrapper form .box label {
    display: block;
    font: normal normal bold 16px/24px Heebo;
    color: #0EE1DA;
    margin-top: 15px;
}

#formWrapper form .box input {
    width: 500px;
}

#formWrapper form .box input[type="text"] {
    border-bottom: 2px solid #0EE1DA;
}

#formWrapper form .box input[type="email"] {
    border-bottom: 2px solid #0EE1DA;
}


#formWrapper form .box input[type="submit"] {
    margin-top: 10px;
    border: none;
    background-color: #0EE1DA;
    font: normal normal bold 24px/33px Heebo;
    font-size: 1.1rem;
    color: #011560;
    height: 59px;
}

#formWrapper form .box textarea {
    width: 500px;
    border-bottom: 2px solid #0EE1DA;
}

@media (max-width:768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    #title {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    #formWrapper {
        grid-column: 1/3;
        grid-row: 7/10;
    }
}